# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Django migrations
**/migrations/*.py
**/migrations/*.pyc
**/migrations/__pycache__/

# Environment variables
.env

# VSCode settings (optional)
.vscode/

# macOS/Linux system files (optional)
.DS_Store
